<h2><%= @recipe.name %></h2>
<section class='public_recipe'>
  <div class='details'>
    <p>Preparation time: <%= @recipe.preparation_time %> hour</p>
    <p>Cooking time: <%= @recipe.cooking_time %> hour</p>
    <p>ٍSteps go here...<%= @recipe.description %></p>
    <div>
      <button>Generating Shopping List</button>
      <button>Add Ingredient</button>
    </div>
  </div>
  <%= button_to recipe_path(@recipe.id), method: :put do %>
    <% if @recipe.public %>
      <i class="fa-solid fa-toggle-on btn-on" style="color: #008000;"></i>
    <% else %>
      <i class="fa-solid fa-toggle-off btn-off"></i>
    <% end %>
  <% end %>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @food_recipe.each do |recipe_food| %>
        <tr id="<%= dom_id recipe_food %>">
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= recipe_food.food.price * recipe_food.quantity %></td>
          <td><%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>