<h2><%= @recipe.name %></h2>
<section class='public_recipe'>
  <div class='details'>
    <p>Preparation time: <%= @recipe.preparation_time %> hour</p>
    <p>Cooking time: <%= @recipe.cooking_time %> hour</p>
    <p>ٍSteps go here...<%= @recipe.description %></p>
    <div>
      <button>Generating Shopping List</button>
      <% if current_user.id == @recipe.user_id %>
        <button>
          <%= link_to 'Add ingredient', new_recipe_foods_recipe_path(@recipe.id) %>
        </button>
      <% end %>
    </div>
  </div>
  <% if current_user.id == @recipe.user_id %>
    <%= button_to recipe_path(@recipe.id), class: 'btn', method: :put do %>
      <% if @recipe.public %>
        <i class="fa-solid fa-toggle-on btn-on"></i>
      <% else %>
        <i class="fa-solid fa-toggle-off btn-off"></i>
      <% end %>
    <% end %>
  <% end %>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @food_recipe.each do |recipe_food| %>
        <tr id="<%= dom_id recipe_food %>">
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= recipe_food.food.price * recipe_food.quantity %></td>
          <% if current_user.id == @recipe.user_id %>
            <td><%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td>No actions</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>